@import "tailwindcss";

:root {
  --background: #121315;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121315;
    --foreground: #121315;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.container-class{
  max-width: 1540px;
  margin: 0 auto;
}
.animate-scroll {
  display: flex;
  animation: scroll 10s linear infinite;
}

.black-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.black-button:hover {
  background-color: #222;
}
